<% if notice %>
  <p class="alert alert-primary animated zoomIn faster" id="notice"><%= notice %></p>
<% end %>

<div class="header">
  <h3><%= I18n.t 'page.questions.index.header' %></h3>
  <a class='btn btn-primary'
     href= <%= new_question_path %>>
    Criar Questão
  </a>
</div>

<% unless @questions.empty? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.title %></td>
          <td class="text-center"><%= link_to 'visibility', question, class: 'material-icons' %></td>
          <td class="text-center"><%= link_to 'edit', edit_question_path(question), class: 'material-icons' %></td>
          <td class="text-center"><%= link_to 'delete', question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'material-icons' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= I18n.t 'page.questions.index.have_not' %><p>
<% end %>