<div class='container animated slideInLeft fast'>

<% if notice %>
  <p class="alert animated zoomIn faster" id="notice"><%= notice %></p>
<% end %>

<div class='header'>
  <h1 class='title'>Questions</h1>
  <a class='btn-floating btn-large waves-effect waves-light'
     href= <%= new_question_path %>>
    <i class='material-icons'>add</i>
  </a>
</div>

<table>
  <tbody>
    <% @questions.each do |question| %>
      <tr class='highlight' data-href= <%= question %> >
        <td class='just_column_name'><%= question.title %></td>
        <td><%= link_to 'visibility', question, class: 'material-icons' %></td>
        <td><%= link_to 'edit', edit_question_path(question), class: 'material-icons' %></td>
        <td><%= link_to 'delete', question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'material-icons' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>