<% if notice %>
  <p class="alert animated zoomIn faster" id="notice"><%= notice %></p>
<% end %>

<div class='header'>
  <h3><%= I18n.t 'page.questions.index.header' %></h3>
  <a class='btn-floating btn-large waves-effect waves-light'
     href= <%= new_question_path %>>
    <i class='material-icons'>add</i>
  </a>
</div>

<% unless @questions.empty? %>
  <ul class="cards">
      <% @questions.each do |question| %>
        <li data-href= <%= question.id %> >
          <div class="btn-group">
            <%= link_to 'visibility', question, class: 'material-icons' %>
            <%= link_to 'edit', edit_question_path(question), class: 'material-icons' %>
            <%= link_to 'delete', question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'material-icons' %>
          <div>

          <span><%= question.title %></span>
            <% question.subjects.each do |subject| %>
                <%= subject.name %>
            <% end %>
        </li>
      <% end %>
  </ul>
<% else %>
  <p><%= I18n.t 'page.questions.index.have_not' %><p>
<% end %>