<% if notice %>
  <p class="alert animated zoomIn faster" id="notice"><%= notice %></p>
<% end %>

<div class='header'>
  <h3><%= I18n.t 'page.questions.show.header' %></h3>
  <%= link_to :back, class: 'btn-floating btn-large waves-effect waves-light' do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>

<div class='box'>
  <h3><%= @question.title %></h3>

  <blockquote class='flow-text'>
    <%= @question.content %>
  </blockquote>

  <p>
    <strong><%= I18n.t 'page.questions.show.difficulty' %></strong>
    <%= @question.difficulty %>
  </p>

  <div class='actions'>
    <%= link_to I18n.t('action.edit'), edit_question_path(@question), class: 'btn right'%>
  </div>
</div>