<p id="notice"><%= notice %></p>

<div class='header'>
  <h1>
    <strong>Question:</strong>
    <%= @question.title %>
  </h1>
  <a class="btn-floating btn-large waves-effect waves-light red"
      href= <%= questions_path %> >
      <i class="material-icons">arrow_back</i>
  </a>
</div>

<blockquote class='flow-text'>
  <%= @question.content %>
</blockquote>

<p>
  <strong>Difficulty: </strong>
  <%= @question.difficulty %>
</p>

<%= link_to 'edit', edit_question_path(@question), class: 'btn right'%>
