<nav class="admin">
    <a href="#!" class="brand-logo">Questions Database</a>

    <ul>
      <li><%= link_to I18n.t('nav.questions'), questions_path %></li>
      <li><%= link_to I18n.t('nav.overview'), admin_index_path %></li>
      <li><%= link_to I18n.t('nav.access'), admin_access_path %></li>
      <li><%= link_to I18n.t('nav.courses'), admin_courses_path %></li>
      <li><%= link_to I18n.t('nav.profile'), edit_user_registration_path %></li>
      <li><%= link_to I18n.t('nav.exit'), destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>