
<div>
  <div class='header'>
    <h3><%= I18n.t('page.admin.index.courses.header') %></h3>
    <a class='btn btn-primary'
       href= <%= new_course_path %>>
      Adicionar Curso
    </a>
  </div>

  <% unless @courses.empty? %>
    <table class="table">
      <thead>
        <th class='just_column_name'><%= I18n.t('page.admin.index.courses.table.name') %></th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
        <tr>
          <td><%= course.name %></td>
          <td class="text-center"><%= link_to 'visibility', course, class: 'material-icons' %></td>
          <td class="text-center"><%= link_to 'edit', edit_course_path(course), class: 'material-icons' %></td>
          <td class="text-center"><%= link_to 'delete', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'material-icons' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= I18n.t('page.admin.index.courses.have_not') %></p>
  <% end %>
</div>
