<% if notice %>
  <p class="alert animated zoomIn faster" id="notice"><%= notice %></p>
<% end %>

<div class="difficulty-chart">
	<div class='header'>
  	<h3><%= I18n.t('page.admin.index.chart.difficulty') %></h3>
  </div>

	<canvas id="questionDifficulty" width="400" height="100"></canvas>

	<script>
		function random_rgb() {
  		const o = Math.round, r = Math.random, s = 255;
  		return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + 0.7 + ')';
		}
		var ctx = document.getElementById('questionDifficulty').getContext('2d');
		var questionDifficulty = new Chart(ctx, {
			type: 'doughnut',
			data: {
				labels: <%= @difficulty_options %>,
				datasets: [{
					label: '<%= I18n.t('page.admin.index.chart.label') %>',
					data: <%= @difficulty_questions %>,
					backgroundColor: [
						<% @difficulty_options.each do %>
							random_rgb(),
						<% end %>
					],
					borderColor: [
						<% @difficulty_options.each do %>
							random_rgb(),
						<% end %>
					],
					borderWidth: 1
				}]
			}
		});
	</script>
</div>