<div class='container animated slideInLeft fast'>

<% if notice %>
  <p class="alert animated zoomIn faster" id="notice"><%= notice %></p>
<% end %>

<div>
  <div class='header'>
    <h3>Access</h3>
    <a class='btn-floating btn-large waves-effect waves-light'
       href= <%= new_user_registration_path %>>
      <i class='material-icons'>add</i>
    </a>
  </div>

  <% unless @users.count == 1 %>
    <table>
      <thead>
        <th>Access</th>
        <th>Email</th>
        <th>Questions</th>
        <th><th>
      </thdead>
      <tbody>
        <% @users.each do |user| %>
          <% unless user == current_user %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.questions.count %></td>
              <td><%= link_to 'delete', admin_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'material-icons' %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <p>No other accesses defined.</p>
  <% end %>
</div>

<div>
  <div class='header'>
  <h3>Courses</h3>
    <a class='btn-floating btn-large waves-effect waves-light'
       href= <%= new_course_path %>>
      <i class='material-icons'>add</i>
    </a>
  </div>

  <% unless @courses.empty? %>
    <table>
      <thead>
        <th class='just_column_name'>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </thdead>
      <tbody>
        <% @courses.each do |course| %>
        <tr>
          <td><%= course.name %></td>
          <td><%= link_to 'visibility', course, class: 'material-icons' %></td>
          <td><%= link_to 'edit', edit_course_path(course), class: 'material-icons' %></td>
          <td><%= link_to 'delete', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'material-icons' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>There is no defined subject yet.</p>
  <% end %>

</div>

<div>
  <div class='header'>
    <h3>Subjects</h3>
    <a class='btn-floating btn-large waves-effect waves-light'
       href= <%= new_subject_path %>>
      <i class='material-icons'>add</i>
    </a>
  </div>

  <% unless @subjects.empty? %>
    <table>
      <thead>
        <th class='just_column_name'>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </thdead>
      <tbody>
        <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.name %></td>
          <td><%= link_to 'visibility', subject, class: 'material-icons' %></td>
          <td><%= link_to 'edit', edit_subject_path(subject), class: 'material-icons' %></td>
          <td><%= link_to 'delete', subject, method: :delete, data: { confirm: 'Are you sure?' }, class: 'material-icons' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>There is no defined subject yet.</p>
  <% end %>

</div>

</div>