<%= render 'menu' %>

<div class='container animated fadeInRight faster'>

<div class='header'>
  <h1>Overview</h1>
</div>

<div>
  <table>
    <thead>
      <th>Access</th>
      <th>Email</th>
      <th>Questions</th>
    </thdead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.questions.count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New access', new_user_registration_path,
      class: 'btn right' %>
</div>