<% if notice %>
  <p class="alert animated zoomIn faster" id="notice"><%= notice %></p>
<% end %>

<div class='header'>
  <h1>
    Subject
  </h1>
  <%= link_to :back, class: 'btn-floating btn-large waves-effect waves-light' do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>

<div class='box'>
  <h3><%= @subject.name %></h3>

  <% unless @subject.courses.empty? %>
    <p>Has: <% @subject.courses.each do |course| %>
              <%= course.name %>
            <% end %>

  <% else %>
    <p>This subject is not linked to any courses.</p>
  <% end %>

  <div class='actions'>
    <%= link_to I18n.t('action.edit'), edit_subject_path(@subject), class: 'btn right' %>
  <div>
</div>