<%= simple_form_for @course do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
  </div>

  <div class="form-check">
    <% unless @subjects.empty? %>
      <%= f.association :subjects, as: :check_boxes %>
    <% else %>
      <p>No other subjects defined.</p>
      <%= link_to 'Create', new_subject_path %>
    <% end %>
  </div>

  <div class='actions'>
    <button class='btn btn-primary' type='submit' name='action'>
      <%= I18n.t 'action.save' %>
    </button>
  </div>
<% end %>