<%= simple_form_for @course do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'Name' %>
  </div>

  <div class="field">
    <%= f.label :courses %>
    <%= f.association :subjects, as: :check_boxes, label: false %>
  </div>

  <div class='actions'>
    <button class='btn waves-effect waves-light right' type='submit' name='action'>Submit
      <i class='material-icons right'>send</i>
    </button>
  </div>
<% end %>
