<% if notice %>
  <p class="alert animated zoomIn faster" id="notice"><%= notice %></p>
<% end %>

<div class='header'>
  <h3>Course</h3>
  <%= link_to :back, class: 'btn btn-secondary' do %>
    Voltar
  <% end %>
</div>

<div class='box'>
  <h3><%= @course.name %></h3>
  <% unless @course.subjects.empty? %>
    <ul>
      <% @course.subjects.each do |subject| %>
        <li><%= subject.name %></li>
      <% end %>
    </ul>

  <% else %>
    <p>This course is not linked to any subjects.</p>
  <% end %>
  <div class='actions'>
    <%= link_to I18n.t('action.edit'), edit_course_path(@course), class: 'btn btn-secondary' %>
  </div>
</div>