<% if notice %>
  <p class="alert animated zoomIn faster" id="notice"><%= notice %></p>
<% end %>

<div class='header'>
  <h1>Course</h1>
  <%= link_to :back, class: 'btn-floating btn-large waves-effect waves-light' do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>

<div class='box'>
  <h3><%= @course.name %></h3>
  <% unless @course.subjects.empty? %>
    <p>Has: <% @course.subjects.each do |subject| %>
              <%= subject.name %>
            <% end %>
  <% else %>
    <p>This course is not linked to any subjects.</p>
  <% end %>
  <div class='actions'>
    <%= link_to I18n.t('action.edit'), edit_course_path(@course), class: 'btn right' %>
  </div>
</div>